<template>
<div>
  <section class="todoapp">
    <header class="header">
      <h1>todos</h1>
      <new-todo></new-todo>
    </header>
    <todo-list></todo-list>
    <footer-bar></footer-bar>
  </section>
</div>
</template>

<script lang="ts">
import Vue from 'vue';
import NewTodo from '../components/todo/NewTodo.vue';
import TodoList from '../components/todo/TodoList.vue';
import FooterBar from '../components/todo/FooterBar.vue';

export default Vue.extend({
  name: 'home-view',
  components: {
    NewTodo,
    TodoList,
    FooterBar,
  },
  mounted() {
    this.$store.dispatch('fetchTodos');
  },
  watch: {
    '$route.params.visibility': {
      handler(visibility) {
        this.$store.dispatch('setVisibility', visibility);
      },
      deep: true,
      immediate: true,
    },
  },
});
</script>
