<template>
<div>
    <input class="new-todo"
      id="new-todo-input"
      placeholder="Write something to add..."
      v-model="text"
      ref="newTodoInput"
      v-on:keyup.enter="submit"
      v-focus>
</div>
</template>

<script lang="ts">
import Vue from 'vue';

Vue.directive('focus', {
  inserted: (el) => { el.focus(); },
});

export default Vue.extend({
  name: 'NewTodo',
  methods: {
    submit() {
      this.$store.dispatch('addTodo', this.$store.getters.newTodo);
    },
  },
  computed: {
    text: {
      get() {
        return this.$store.getters.newTodo.text;
      },
      set(value) {
        this.$store.dispatch('setTodoText', value);
      },
    },
  },
});
</script>
<style lang="css" scoped>
.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
</style>
